AI resume screening & evaluation for HR with Groq & Google Workspace.json
{
  "name": "AI resume screening & evaluation for HR with Groq & Google Workspace",
  "nodes": [
    {
      "parameters": {
        "content": "## 1. Candidate submit application form (profile & position",
        "height": 84,
        "width": 572
      },
      "id": "46d85862-de79-4a46-9b59-f27194375af4",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1936,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 4. HR AI Agent evaluate candidate matching based on profile & job description\n- Evaluate candidate profile against the selected position job description (download from google drive)\n- Output follow structured template (defined by JSON)",
        "height": 592,
        "width": 440
      },
      "id": "aa6b6b3f-58ca-4c07-8265-85e3f3278842",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3856,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "formTitle": "Candidate Form",
        "formDescription": "Please ,fill the required fields , and we'll get in touch with you soon !",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "Email",
              "requiredField": true
            },
            {
              "fieldLabel": "CV",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            },
            {
              "fieldLabel": "Job Role",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Talent acquisition Specialist (Intermediate)"
                  },
                  {
                    "option": "Senior Tester/QC (Web Apps, Mobile, API, Database)"
                  },
                  {
                    "option": "Lead Full-stack Developer (.NET, Angular/React.js)"
                  },
                  {
                    "option": "Backend Engineer"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #0000FF; /* Changed to blue */\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}\n"
        }
      },
      "id": "244d87cc-877a-4080-bb9b-6ea44aa76540",
      "name": "Application form",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        2352,
        480
      ],
      "webhookId": "c0f02df1-9bf8-468f-a33d-e67655bfa920",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "CV",
        "options": {}
      },
      "id": "abf322d8-4656-41cc-85da-6224131078fa",
      "name": "Extract profile",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        2576,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1O4z1ryjHiAQybdcABXvMaom_T5FaEjvR2FUqXSJFTls",
          "mode": "list",
          "cachedResultName": "Positions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O4z1ryjHiAQybdcABXvMaom_T5FaEjvR2FUqXSJFTls/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O4z1ryjHiAQybdcABXvMaom_T5FaEjvR2FUqXSJFTls/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Job Role",
              "lookupValue": "={{ $node[\"Application form\"].json[\"Job Role\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f27eb081-8fe1-4a8c-88ca-1747047bf3f2",
      "name": "Get position JD",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        3200,
        576
      ],
      "typeVersion": 4.6,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iHTk2LroFx048Aqx",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "5a8e8116-feaa-4007-abdb-91a2a12bbce8",
      "name": "Extract Job Description",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        3648,
        576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 2. Candidate profile analyzer\n- Upload candidate profile to Google Drive folder for later processing\n- Extract candidate information from PDF file\n- Transform candidate information to expected JSON format for later use (send message, add to evaluation sheet)",
        "height": 676,
        "width": 588
      },
      "id": "f9b079d1-d15c-4deb-b71f-57222761f031",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2528,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 3. Download selected job description\n- Get position name & job description URL from google sheet based on candidate application form\n- Download job description file from Google Drive\n- Extract data from job description PDF file to be used in the next steps",
        "height": 372,
        "width": 636
      },
      "id": "f1dbe09a-7e98-453f-8715-afb810a769be",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3168,
        368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 5. Update evaluation result to target platform\n- Candidate with overall fit score under 8 will be considered as unqualified, config in the \"Candidate qualified\" node\n- Send message to Slack, Email\n- Add new rows in CV evaluation tracking sheet (Google Drive), you need config \"Update evaluation sheet\" node with your own URL (empty sheet, column header and rows will be auto-populated)",
        "height": 768,
        "width": 824
      },
      "id": "71fb65f2-972a-4dc3-8dd3-ba74b456f7fe",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4384,
        304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a strict HR screening expert.\n\nBe strict and objective. Only count skills explicitly\nmentioned in the candidate profile. Do NOT assume skills.\n\nSCORING RUBRIC (overall_fit_score out of 10):\n9-10 = 90%+ of JD requirements matched with clear evidence\n7-8  = Most requirements met, only minor gaps\n5-6  = Partial match, several key requirements missing\n3-4  = Weak match, missing most critical requirements\n0-2  = Not qualified for this role\n\nJOB DESCRIPTION:\n{{ $node[\"Extract Job Description\"].json.text }}\n\nCANDIDATE PROFILE:\n{{ JSON.stringify($node[\"Profile Analyzer Agent\"].json.output) }}\n\nReturn STRICT JSON only. No markdown. No ```json. No explanation.\n{\n  \"overall_fit_score\": number,\n  \"recommendation\": \"Qualified or Unqualified\",\n  \"strengths\": [],\n  \"concerns_or_gaps\": [],\n  \"final_notes\": \"\"\n}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a professional AI hiring assistant tasked with evaluating job candidates based on their structured resume data and a provided job description. Your goal is to assess the candidate’s suitability for the role, identifying key matches and gaps in skills, experience, and qualifications.  You will receive: - `candidate_profile`: a JSON object containing extracted information from the candidate's resume. - `job_description`: a plain text description of the role.  Your job is to: 1. Parse and understand the key job requirements (e.g., required skills, years of experience, qualifications). 2. Match the candidate's profile to the job requirements. 3. Provide a structured evaluation with ratings and reasoning.  Always be objective, use professional language, and format your output clearly using markdown."
            }
          ]
        }
      },
      "id": "b30b9cbd-bffd-4a5b-8185-3334b9b2b8ad",
      "name": "HR Expert Agent",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        3936,
        576
      ],
      "typeVersion": 1.5
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract candidate details from the resume below:\n\n{{ $node[\"Extract profile\"].json.text }}\n\nReturn structured JSON with:\n- full_name\n- job_title\n- summary\n- contact\n- education\n- skills\n- projects\n\nReturn only JSON.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": ""
        }
      },
      "id": "1355a107-54ef-4136-9d63-d3b2a7273143",
      "name": "Profile Analyzer Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2800,
        576
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "10rMqRLJp_q52jcbvJTy1wB7y1OHMOAi6De0doOX-rsI",
          "mode": "list",
          "cachedResultName": "Evaluation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10rMqRLJp_q52jcbvJTy1wB7y1OHMOAi6De0doOX-rsI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10rMqRLJp_q52jcbvJTy1wB7y1OHMOAi6De0doOX-rsI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "position",
              "displayName": "position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "overall_fit_score",
              "displayName": "overall_fit_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "score_percent",
              "displayName": "score_percent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "decision",
              "displayName": "decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "recommendation",
              "displayName": "recommendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "strengths",
              "displayName": "strengths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "concerns_or_gaps",
              "displayName": "concerns_or_gaps",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "final_notes",
              "displayName": "final_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "submitted_date",
              "displayName": "submitted_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "94149ee7-1845-4b7a-a2d3-09dea44b1670",
      "name": "Update evaluation sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        4704,
        912
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iHTk2LroFx048Aqx",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.text;\nconst evalResult = JSON.parse(raw);\nconst profile = $('Profile Analyzer Agent').first().json.output;\n\nconst decision = evalResult.overall_fit_score >= 7 ? \"Shortlisted\" : \"Rejected\";\n\nreturn [\n  {\n    json: {\n      full_name: profile.full_name,\n      email: profile.contact.email,\n      phone: profile.contact.phone,\n      position: $('Application form').first().json['Job Role'],\n      overall_fit_score: evalResult.overall_fit_score,\n      score_percent: evalResult.overall_fit_score * 10,\n      decision,\n      recommendation: evalResult.recommendation,\n      strengths: evalResult.strengths,\n      concerns_or_gaps: evalResult.concerns_or_gaps,\n      final_notes: evalResult.final_notes,\n      submitted_date: $now.toFormat(\"yyyyLLdd-HHmmss\")\n    }\n  }\n];"
      },
      "id": "3a554846-b2b7-4880-9137-103be85ea072",
      "name": "Map Columns",
      "type": "n8n-nodes-base.code",
      "position": [
        4464,
        576
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "![Alt text](https://wisestackai.s3.ap-southeast-1.amazonaws.com/SmartHR+form.png \"Optional title text\")",
        "height": 468,
        "width": 364
      },
      "id": "97f45dd9-1858-4ae3-854f-fd24404864d0",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1936,
        448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "inputDataFieldName": "CV",
        "name": "=cv-{{ $now.toFormat(\"yyyyLLdd-HHmmss\") }}-{{ $json.CV[0].filename }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1s7sF24xATyA4wO5i1XpQPUFZ2YpYhpv7",
          "mode": "id"
        },
        "options": {}
      },
      "id": "d014e9a0-47c0-4106-8588-a240f2faaf2e",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        2576,
        432
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pedlYbfdjmFEvri6",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"overall_fit_score\": 0,\n  \"recommendation\": \"\", \n  \"job_match_summary\": {\n    \"required_experience\": \"\",\n    \"skill_match\": \"\",\n    \"education_certifications\": \"\",\n    \"soft_skills_traits\": \"\"\n  },\n  \"strengths\": [\n    \"\"\n  ],\n  \"concerns_or_gaps\": [\n    \"\"\n  ],\n  \"final_notes\": \"\"\n}"
      },
      "id": "8457927f-a7a4-458b-9bee-fa820fa60c3f",
      "name": "json parser 2",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        4096,
        800
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "content": "## Try It Out, HireMind – AI-Driven Resume Intelligence Pipeline!\n### This n8n template demonstrates how to automate resume screening and evaluation using AI to improve candidate processing and reduce manual HR effort.\n- This workflow is ideal for HR teams and recruiters who want to streamline candidate screening by combining form submissions, resume parsing, job description matching, and AI evaluation into a single, automated process.\n\n---\n\n### How it works\n\n* A candidate submits their application using a form that includes name, email, CV (PDF), and a selected job role.\n* The CV is uploaded to Google Drive for record-keeping and later reference.\n* The **Profile Analyzer Agent** reads the uploaded resume, extracts structured candidate information, and transforms it into a standardized JSON format using GPT-4 and a custom output parser.\n* The corresponding job description PDF file is automatically retrieved from a Google Sheet based on the selected job role.\n* The **HR Expert Agent** evaluates the candidate profile against the job description using another GPT-4 model, generating a structured assessment that includes strengths, gaps, and an overall recommendation.\n* The evaluation result is parsed and formatted for output.\n* The evaluation score will be used to mark candidate as qualified or unqualified, based on that an email will be sent to applicant or the message will be send to hiring team for the next process\n* The final evaluation result will be stored in a Google Sheet for long-term tracking and reporting.\n\n### How to use\n\n#### Google drive structure\n\n├── jd                        # Google drive folder to store your JD (pdf)\n│   ├── Backend_Engineer.pdf\n│   ├── Azure_DevOps_Lead.pdf\n│   └── ...\n│\n├── cv                        # Google drive folder, where workflow upload candidate resume\n│   ├── John_Doe_DevOps.pdf\n│   ├── Jane_Smith_FullStack.pdf\n│   └── ...\n│\n├── Positions (Sample: https://docs.google.com/spreadsheets/d/1pW0muHp1NXwh2GiRvGVwGGRYCkcMR7z8NyS9wvSPYjs/edit?usp=sharing)  # 📋 Mapping Table: Job Role ↔ Job Description (Link)\n│   └── Columns:\n│       - Job Role\n│       - Job Description File URL (PDF in `jd/`)\n│\n└── Evaluation form (Google Sheet)  # ✅ Final AI Evaluation Results\n\n#### Usage\n       \n### How to use\n\n1. **Set up credentials and integrations:**\n   - Connect your **Groq** account ().\n   - Enable **Google Cloud APIs**:\n     - Google Sheets API (for reading job roles and saving evaluation results)\n     - Google Drive API (for storing CVs and job descriptions)\n   - Set up **SendGrid** (to send email responses to candidates)\n   - Connect **Slack** (to send messages to the hiring team)\n\n2. **Prepare your Google Drive structure:**\n   - Create a root folder, then inside it create:\n     - `/jd` → Store all job descriptions in PDF format  \n     - `/cv` → This is where candidate CVs will be uploaded automatically\n   - Create a **Google Sheet** named `Positions` with the following structure:\n     ```\n     | Job Role                     | Job Description Link                   |\n     |------------------------------|----------------------------------------|\n     | Azure DevOps Engineer        | https://drive.google.com/xxx/jd1.pdf   |\n     | Full-Stack Developer (.NET)  | https://drive.google.com/xxx/jd2.pdf   |\n     ```\n\n3. **Update your application form:**\n   - Use the built-in form, or connect your own (e.g., Typeform, Tally, Webflow, etc.)\n   - Ensure the **Job Role** dropdown matches exactly the roles in the `Positions` sheet\n\n4. **Run the AI workflow:**\n   - When a candidate submits the form:\n     - Their CV is uploaded to the `/cv` folder\n     - The job role is used to match the JD from `/jd`\n     - The **Profile Analyzer Agent** extracts candidate info from the CV\n     - The **HR Expert Agent** evaluates the candidate against the matched JD using GPT-4\n\n5. **Distribute and store results:**\n   - Store the evaluation results in the `Evaluation form` Google Sheet\n   - Optionally notify your team:\n     - ✉️ Send an email to the candidate using SendGrid\n     - 💬 Send a Slack message to the hiring team with a summary and next steps\n\n### Requirements\n\n* Groq account for both Profile Analyzer and HR Expert Agents\n* Google Drive account (for storing CVs and evaluation sheet)\n* Google Sheets API credentials (for JD source and evaluation results)\n\n### Need Help?\n\nJoin the [n8n Discord](https://discord.com/invite/XPKeKXeB7d) or ask in the [n8n Forum](https://community.n8n.io/)!\n\nHappy Hiring! 🚀",
        "height": 2000,
        "width": 1520
      },
      "id": "cf545d77-0db6-4142-9cef-63e034f867d3",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        336,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "![Alt text](https://wisestackai.s3.ap-southeast-1.amazonaws.com/Screenshot+2025-07-29+at+12.54.54%E2%80%AFPM.png \"Optional title text\")",
        "height": 128,
        "width": 640
      },
      "id": "cbe57cf2-3f37-4bb0-9e15-526028bdc04a",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3168,
        768
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "![Alt text](https://wisestackai.s3.ap-southeast-1.amazonaws.com/SmartHR+form+3.jpg \"Sample evaluation sheet data\")",
        "height": 512,
        "width": 960
      },
      "id": "baf46ccf-9906-4cfd-a1d1-bb8203294d98",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5232,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AV3RNK20Y",
          "mode": "id"
        },
        "text": "=🎯 Candidate Evaluation Update  Hi team,   We've completed the initial screening and have a qualified candidate for the *{{ $json.position }}* position: **{{ $json.full_name }}**.  📝 Summary: - Fit Score: {{ $json.overall_fit_score }}/10 - Recommendation: {{ $json.recommendation }} - Key Strengths: {{ $json.strengths }}  📎 Full evaluation is available in the tracking sheet.  👉 Please advise on the next steps (e.g., schedule technical interview, team round, etc.).  Thanks!",
        "otherOptions": {}
      },
      "id": "ca4984c1-c367-4632-bb81-46565bd5e1df",
      "name": "Send message via Slack to the hiring team",
      "type": "n8n-nodes-base.slack",
      "position": [
        5040,
        464
      ],
      "webhookId": "6d1ea29f-86ba-42df-ae9f-3dd510510dae",
      "typeVersion": 2.3,
      "credentials": {
        "slackApi": {
          "id": "cYChTKm13H41cOmV",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a69c879b-ebf6-4237-b19a-4bb1e4686746",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "leftValue": "={{ $json[\"overall_fit_score\"] }}",
              "rightValue": 7
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "03b884bf-0aa3-4b76-8f6d-cd3664a198d0",
      "name": "Candidate qualified?",
      "type": "n8n-nodes-base.if",
      "position": [
        4704,
        576
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2800,
        800
      ],
      "id": "2b0fc62a-dff5-4786-aa16-1c5c64991fba",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "qVV1OZwRQb8WdILw",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"full_name\": { \"type\": \"string\" },\n    \"job_title\": { \"type\": \"string\" },\n    \"summary\": { \"type\": \"string\" },\n    \"contact\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"email\": { \"type\": \"string\" },\n        \"phone\": { \"type\": \"string\" },\n        \"linkedin\": { \"type\": \"string\" }\n      }\n    },\n    \"education\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"degree\": { \"type\": \"string\" },\n          \"field_of_study\": { \"type\": \"string\" },\n          \"institution\": { \"type\": \"string\" }\n        }\n      }\n    },\n    \"skills\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"technical_skills\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" }\n        },\n        \"soft_skills\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" }\n        }\n      }\n    },\n    \"projects\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"name\": { \"type\": \"string\" },\n          \"description\": { \"type\": \"string\" }\n        }\n      }\n    }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2976,
        784
      ],
      "id": "80873434-16b9-408c-8fb9-f1bb3f0c95b3",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json[\"Job Description Link\"].split(\"/d/\")[1].split(\"/\")[0] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3408,
        576
      ],
      "id": "49970b05-cf18-42a5-a109-1bc2887da881",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pedlYbfdjmFEvri6",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        3936,
        816
      ],
      "id": "d78da2cb-4983-4e14-ae3e-7c089888110a",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "qVV1OZwRQb8WdILw",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Application Update – Backend Engineer",
        "emailType": "text",
        "message": "=Hi {{ $json.full_name }},  Thank you for applying.  Status: {{ $json.decision }}  Regards, HR Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        5040,
        752
      ],
      "id": "a1f4eaa1-7470-44c8-9845-ad171efd7ade",
      "name": "Send a message to candidate",
      "webhookId": "c8c1267a-bfb8-410d-949b-4d99b2d19b21",
      "credentials": {
        "gmailOAuth2": {
          "id": "WIHdtMYKPFQ2sra8",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Map Columns": {
      "main": [
        [
          {
            "node": "Update evaluation sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Candidate qualified?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "json parser 2": {
      "ai_outputParser": [
        []
      ]
    },
    "Extract profile": {
      "main": [
        [
          {
            "node": "Profile Analyzer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get position JD": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HR Expert Agent": {
      "main": [
        [
          {
            "node": "Map Columns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Application form": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Candidate qualified?": {
      "main": [
        [
          {
            "node": "Send message via Slack to the hiring team",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message to candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Profile Analyzer Agent": {
      "main": [
        [
          {
            "node": "Get position JD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job Description": {
      "main": [
        [
          {
            "node": "HR Expert Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update evaluation sheet": {
      "main": [
        []
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Profile Analyzer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Profile Analyzer Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract Job Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "HR Expert Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b29ab451-79ea-421f-9aa9-d47db3b96929",
  "meta": {
    "templateId": "6612",
    "templateCredsSetupCompleted": true,
    "instanceId": "dcdb54969fdb65fc124798f47e0fffa74d68b57d03ec8770eb454fdac006f630"
  },
  "id": "rjM2IRNeq4eL1cUm",
  "tags": []
}